

* { box-sizing: border-box; }

body {
	background: #39BFF0;

	font-family: 'Raleway', sans-serif;
	background-size: cover;
	color: white;

}

.flip-container {
	-webkit-perspective: 1000;

		height: 100vh;

		.turn{
			-webkit-transform: rotateY(180deg);
	}

	.flipper {
		-webkit-transition: .6s;
		-webkit-transform-style: preserve-3d;
		position: relative;
	
		.flip-container, .front, .back {
			width: 95%;
			height: 95%;
		}

		.front, .back {
			-webkit-backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
		}

		.front { z-index: 2; }

		.back { 
			-webkit-transform: rotateY(180deg);
			width: 100%;
			height: 100vh;
		 }
	}
}



section {
	text-align: center;

		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
		  -webkit-appearance: none; 
		  margin: 0;
		  outline: none; 
		}
	
	%input {
		width: 85%;
		height: 40px;
		border: none;
		border-radius: 5px;
		box-shadow: none;
		background: transparent;
		border: none;
		font-size: 34px;
		text-align: center;
		color: #0B729E;
		box-shadow: 0 0 5px 1px #0B729E;

		&:focus { 
			outline: none; 
			
		}
	}


	&.landing {
		.salary h1 { font-size: 2.1em; }
		.savings h1 { font-size: 1.3em; }
		.fixed-expenses h1 { font-size: 1.7em; }
	}

	.salary {
		text-align: center;

		i {margin-right: 5px; color: #0B729E;}

		input {
			@extend %input;
			-webkit-appearance: none;
		}
	}

	.range {
		input[type="range"] {
			-webkit-appearance: none;
			-moz-appearance: none;
			background-color: transparent;
			border: 1px solid #0B729E;
			border-radius: 10px;
			width: 250px;
			height:10px;

		}
	}

	.savings {
		text-align: center;
		.buttons {
			button {
				outline: none;
				width: 31%;
				transition: all .4s linear;
				&.active {
					background-color: #0B729E;
					color: white;
				}
			}
		}
	}

	.fixed-expenses {
		text-align: center;
		margin-bottom: 20px;
		input {
			text-align: center;
			@extend %input;
			height: 40px;
			-webkit-appearance: none;
		}
		.justList {
			list-style: none;
		}

		li {
			position: relative;
			text-align: left;
			width: 97%;
			margin-left: -15px;
			padding: 10px;
			border-radius: 10px;
			border: 1px solid #0B729E;
			background-color: rgba(#0B729E, .3);
  			margin-bottom: 20px;

			button {
				position: absolute;
				top: 0px;
				right: 0;
				border: transparent;
			}
		}
	}

	.your-result {
		margin-top: 50%;

		h1 {
			text-transform: uppercase;
		}

		.figure {
			font-size: 60px;
			 width: 100%;
			 height: 40px;
			 display: block;
			 animation: bigger 1s alternate both;
		}

		p {
			margin-top: 60px;
			text-transform: uppercase;
			font-size: 30px;
			display: none;
		}
	}

	.list {
		border-radius: 50%;
		padding: 5px;
		background: transparent;	
		width: 60px;
		height: 60px;
		color: #0B729E;
		margin-top: 25px;
		transition: all .4s ease-in-out;

		&.active {
			transform: scale(0.8);
		}
	}

	.refresh {
		text-transform: uppercase;
		padding: 20px 30px;
		font-size: 30px;
		line-height: 0;
	}

	button {
		-webkit-appearance: none;
		height: 40px;
		font-size: 18px;
		color: #0B729E;
		background-color: transparent;
		border-radius: 5px;
		box-shadow: none;
		border: 2px solid #0B729E;
		text-transform: capitalize;
	}

	.trigger {
		position: relative;
		overflow: hidden;
		width: 120px;
		height: 40px;
		margin-bottom: 30px;
		&:after { 
		  content: " ";
		  position: absolute;
		  top: -50%;
		  right: -50%;
		  bottom: -50%;
		  left: -50%;
		  background: linear-gradient(to bottom, rgba(229, 172, 142,.1), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0.1));
		  -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
		}

		&:hover:after {
		  animation: sheen 1s forwards;
		}
	}
}

@media (min-width: 601px) {
	.flip-container {
		.flipper {
			.front, .back {
				width: 50%;
				left: 25%;

				.range input {
					width: 85%;
					height: 15px;
				}
			}
		}
	}
}


@keyframes sheen {
  100% { -webkit-transform: rotateZ(60deg) translate(1em, -9em); }
}

@keyframes bigger {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1); }
	40% { -webkit-transform: scale(1.08); }
	50% { -webkit-transform: scale(1); }
	60% { -webkit-transform: scale(1); }
	70% { -webkit-transform: scale(1.05); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}

