

* { box-sizing: border-box; }

body {
	background: #b1e2b1; /* Old browsers */
	background: -moz-linear-gradient(top, #b1e2b1 48%, #71ceef 100%, #21b4e2 100%, #b7deed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#b1e2b1), color-stop(100%,#71ceef), color-stop(100%,#21b4e2), color-stop(100%,#b7deed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b1e2b1 48%,#71ceef 100%,#21b4e2 100%,#b7deed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b1e2b1 48%,#71ceef 100%,#21b4e2 100%,#b7deed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b1e2b1 48%,#71ceef 100%,#21b4e2 100%,#b7deed 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b1e2b1 48%,#71ceef 100%,#21b4e2 100%,#b7deed 100%); /* W3C */

	font-family: 'Raleway', sans-serif;
	background-size: cover;
	color: white;

	overflow: scroll;

}

.flip-container {
	-webkit-perspective: 1000;

		height: 100vh;

	// 	&:hover .flipper,{
	// 		-webkit-transform: rotateY(180deg);
	// }

	.flipper {
		-webkit-transition: .6s;
		-webkit-transform-style: preserve-3d;
		position: relative;
	
		.flip-container, .front, .back {
			width: 95%;
			height: 95%;
		}

		.front, .back {
			-webkit-backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
		}

		.front { z-index: 2; }

		.back { -webkit-transform: rotateY(180deg); }
	}
}



section {
	text-align: center;

		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
		  -webkit-appearance: none; 
		  margin: 0; 
		}
	
	%input {
		width: 85%;
		height: 60px;
		border: none;
		border-radius: 5px;
		box-shadow: none;
		background: transparent;
		border: none;
		font-size: 34px;
		text-align: center;
		color: #33AB37;
		box-shadow: 0 0 5px 1px #33AB37;

		&:focus { 
			outline: none; 
			
		}
	}


	&.landing {
		.salary h1 { font-size: 2.2em; }
		.savings h1 { font-size: 1.3em; }
		.fixed-expenses h1 { font-size: 1.7em; }
	}

	.salary {
		text-align: center;

		i {margin-right: 5px; color: #33AB37;}

		input {
			@extend %input;
			-webkit-appearance: none;
		}
	}

	.savings {
		text-align: center;
		.buttons {
			button {
				width: 31%;
				transition: all .4s linear;
				&.active {
					background-color: #33ab37;
					color: white;

				}
			}
		}
	}

	.fixed-expenses {
		text-align: center;
		margin-bottom: 70px;
		input {
			text-align: center;
			@extend %input;
			height: 40px;
			-webkit-appearance: none;
		}
		.justList {
			list-style: none;
		}

		li {
			position: relative;
			text-align: left;
			width: 97%;
			margin-left: -15px;
			padding: 10px;
			border-radius: 10px;
			border: 1px solid #33AB37;
			background-color: rgba(#33AB37, .3);
  			margin-bottom: 20px;

			button {
				position: absolute;
				top: 0px;
				right: 0;
				border: transparent;
			}
		}
	}

	.list {
		border-radius: 50%;
		padding: 10px;
		background: transparent;	
		width: 70px;
		height: 70px;
		color: #33AB37;
		margin-top: 25px;
		transition: all .4s ease-in-out;

		&.active {
			transform: scale(0.8);
		}
	}

	button {
		-webkit-appearance: none;
		height: 40px;
		font-size: 18px;
		color: #33AB37;
		background-color: transparent;
		border-radius: 5px;
		box-shadow: none;
		border: 2px solid #33AB37;
		text-transform: capitalize;
	}

	.trigger {
		position: relative;
		overflow: hidden;
		width: 120px;
		height: 40px;
		margin-bottom: 0;
		&:after { 
		  content: " ";
		  position: absolute;
		  top: -50%;
		  right: -50%;
		  bottom: -50%;
		  left: -50%;
		  background: linear-gradient(to bottom, rgba(229, 172, 142,.1), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0.1));
		  -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
		}

		&:hover:after {
		  animation: sheen 1s forwards;
		}
	}
}


@keyframes sheen {
  100% { -webkit-transform: rotateZ(60deg) translate(1em, -9em);}
}

