* {
  box-sizing: border-box;
}

body {
  background: #39BFF0;
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  color: white;
}

.flip-container {
  -webkit-perspective: 1000;
  height: 100vh;
}
.flip-container .turn {
  -webkit-transform: rotateY(180deg);
}
.flip-container .flipper {
  -webkit-transition: .6s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}
.flip-container .flipper .flip-container, .flip-container .flipper .front, .flip-container .flipper .back {
  width: 95%;
  height: 95%;
}
.flip-container .flipper .front, .flip-container .flipper .back {
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container .flipper .front {
  z-index: 2;
}
.flip-container .flipper .back {
  -webkit-transform: rotateY(180deg);
  width: 100%;
  height: 100vh;
}

section {
  text-align: center;
}
section input[type=number]::-webkit-inner-spin-button,
section input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  outline: none;
}
section .salary input, section .fixed-expenses input {
  width: 85%;
  height: 60px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  background: transparent;
  border: none;
  font-size: 34px;
  text-align: center;
  color: #0B729E;
  box-shadow: 0 0 5px 1px #0B729E;
}
section .salary input:focus, section .fixed-expenses input:focus {
  outline: none;
}
section.landing .salary h1 {
  font-size: 2.2em;
}
section.landing .savings h1 {
  font-size: 1.3em;
}
section.landing .fixed-expenses h1 {
  font-size: 1.7em;
}
section .salary {
  text-align: center;
}
section .salary i {
  margin-right: 5px;
  color: #0B729E;
}
section .salary input {
  -webkit-appearance: none;
}
section .savings {
  text-align: center;
}
section .savings .buttons button {
  outline: none;
  width: 31%;
  transition: all .4s linear;
}
section .savings .buttons button.active {
  background-color: #0B729E;
  color: white;
}
section .fixed-expenses {
  text-align: center;
  margin-bottom: 70px;
}
section .fixed-expenses input {
  text-align: center;
  height: 40px;
  -webkit-appearance: none;
}
section .fixed-expenses .justList {
  list-style: none;
}
section .fixed-expenses li {
  position: relative;
  text-align: left;
  width: 97%;
  margin-left: -15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #0B729E;
  background-color: rgba(11, 114, 158, 0.3);
  margin-bottom: 20px;
}
section .fixed-expenses li button {
  position: absolute;
  top: 0px;
  right: 0;
  border: transparent;
}
section .your-result {
  margin-top: 50%;
}
section .your-result h1 {
  text-transform: uppercase;
}
section .your-result .figure {
  font-size: 60px;
  width: 100%;
  height: 40px;
  display: block;
  animation: bigger 1s alternate both;
}
section .your-result p {
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 30px;
  display: none;
}
section .list {
  border-radius: 50%;
  padding: 10px;
  background: transparent;
  width: 70px;
  height: 70px;
  color: #0B729E;
  margin-top: 25px;
  transition: all .4s ease-in-out;
}
section .list.active {
  transform: scale(0.8);
}
section button {
  -webkit-appearance: none;
  height: 40px;
  font-size: 18px;
  color: #0B729E;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  border: 2px solid #0B729E;
  text-transform: capitalize;
}
section .trigger {
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 40px;
  margin-bottom: 0;
}
section .trigger:after {
  content: " ";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0.1), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0.1));
  -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
}
section .trigger:hover:after {
  animation: sheen 1s forwards;
}

@keyframes sheen {
  100% {
    -webkit-transform: rotateZ(60deg) translate(1em, -9em);
  }
}

@keyframes bigger {
  0% {
    -webkit-transform: scale(1);
  }

  30% {
    -webkit-transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.08);
  }

  50% {
    -webkit-transform: scale(1);
  }

  60% {
    -webkit-transform: scale(1);
  }

  70% {
    -webkit-transform: scale(1.05);
  }

  80% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
